@using static HotelMangementSystem.Models.Enums.Enums
@model HotelMangementSystem.ViewModels.NewHotelViewModel

@{
    ViewData["Title"] = "AddNewHotel";
    SelectList citiesList = new SelectList(ViewBag.Cities.cities, "Id", "Name");
    Layout = "_CustomeLayout";

}

<div class="hero-wrap" style="background-image: url('/images/bg_3.jpg');"> 
    <div class="overlay"></div> 
    <div class="container"> 
        <div class="row no-gutters slider-text d-flex align-itemd-center justify-content-center"> 
            <div class="col-md-9 ftco-animate text-center d-flex align-items-end justify-content-center"> 
                <div class="text"> 
                    @* <p class="breadcrumbs mb-2"><span class="mr-2"><a href="index.html">Home</a></span> <span class="mr-2"><a href="hotels.html">Hotels</a></span> <span>Hotel Name</span></p> *@ 
                    <h1 class="mb-4 bread">Add Hotel</h1> 
                </div> 
            </div> 
        </div> 
    </div> 
</div> 

@if (ViewBag.HotelAdded != null && ViewBag.HotelAdded == true)
{ 
    <div class="alert alert-success">Your Request has been Submitted !</div> 
} 

@if (ViewBag.AlreadyAdded != null && ViewBag.AlreadyAdded == true)
{
    <div class="alert alert-warning">Your request has been sent before !</div>
}

@if (ViewBag.HotelAdded != null && ViewBag.HotelAdded == false) 
{ 
    <div class="alert alert-danger">Error Occured</div> 
    <div asp-validation-summary="All"  class="alert alert-danger"></div> 
}

@if (ViewBag.requestStatus != null && ViewBag.requestStatus == NewHotelRquestStatus.Pending)
{
    <div class="alert alert-info mt-3 mb-2">Your request is under reviewing</div>
    <div class="alert alert-info mb-2">Wait until reviewing then you can add a new hotel</div>
    @* <div asp-validation-summary="All"  class="alert alert-danger"></div>  *@
}




@if (ViewBag.requestStatus == null)
{
  <div class="row">
        <div class="col-1 col-sm-1 col-md-3"></div>
        <div class="col-10 col-sm-10 col-md-6 mt-5 me-5">
         <form asp-action="AddNewHotel"> 
             @* <div asp-validation-summary="All" class="text-danger"></div> *@ 
             <div class="form-group"> 
                 <label asp-for="Name" class="control-label"></label> 
                 <input asp-for="Name" class="form-control"  

                 value="@(ViewBag.oldHotelFromDb != null?@ViewBag.oldHotelFromDb.Name:Model?.Name)" 
                    
                 /> 
                 <span asp-validation-for="Name" class="text-danger"></span> 
             </div> 
             <div class="form-group"> 
                 <label asp-for="Description" class="control-label"></label> 
                 <input asp-for="Description" class="form-control" value="@(ViewBag.oldHotelFromDb != null?@ViewBag.oldHotelFromDb.Description:Model?.Description)" /> 
                 <span asp-validation-for="Description" class="text-danger"></span> 
             </div> 
             <div class="form-group"> 
                 <label asp-for="StarRatig" class="control-label"></label> 
                 <input asp-for="StarRatig" class="form-control" value="@(ViewBag.oldHotelFromDb != null?@ViewBag.oldHotelFromDb.StarRatig:Model?.StarRatig)" /> 
                 <span asp-validation-for="StarRatig" class="text-danger"></span> 
             </div> 
             <div class="form-group"> 
                 <label asp-for="Location" class="control-label"></label> 
                 <input asp-for="Location" class="form-control" value="@(ViewBag.oldHotelFromDb != null?@ViewBag.oldHotelFromDb.Location:Model?.Location)" /> 
                 <span asp-validation-for="Location" class="text-danger"></span> 
             </div> 
             <div class="form-group"> 
                 <label asp-for="PhoneNumber" class="control-label"></label> 
                 <input asp-for="PhoneNumber" class="form-control" value="@(ViewBag.oldHotelFromDb != null?@ViewBag.oldHotelFromDb.PhoneNumber:Model?.PhoneNumber)" /> 
                 <span asp-validation-for="PhoneNumber" class="text-danger"></span> 
             </div> 
             <div class="form-group"> 
                 <label asp-for="NumberOfRooms" class="control-label"></label> 
                 <input asp-for="NumberOfRooms" class="form-control" value="@(ViewBag.oldHotelFromDb != null?@ViewBag.oldHotelFromDb.NumberOfRooms:Model?.NumberOfRooms)" /> 
                 <span asp-validation-for="NumberOfRooms" class="text-danger"></span> 
             </div> 
             @* <div class="form-group form-check"> *@
             @*     <label class="form-check-label"> *@ 
             @*         <input class="form-check-input" asp-for="IsDeleted" /> @Html.DisplayNameFor(model => model.IsDeleted) *@ 
             @*     </label> *@ 
             @* </div> *@
             <div class="form-group"> 
                 @* <label asp-for="ManagerId" class="control-label"></label> *@
                    <input asp-for="ManagerId" class="form-control" value="@ViewBag.UserId" readonly style="display:none" /> @*style="visibility:hidden"*@
                 @* <span asp-validation-for="ManagerId" class="text-danger"></span>  *@
             </div> 

             @* <div class="form-group"> *@ 
             @*     <label asp-for="CityId" class="control-label"></label> *@ 
             @*     <input asp-for="CityId" class="form-control" /> *@ 
             @*     <span asp-validation-for="CityId" class="text-danger"></span> *@ 
             @* </div> *@ 
             <div class="form-group"> 
                 <label asp-for="CityId" class="control-label">City</label>  

                 <select asp-for="CityId" asp-items="citiesList" class="form-control" > 
                     <option value="-1"> -- Select City --</option> 
                 </select> 
                 <span asp-validation-for="CityId" class="text-danger"></span> 
             </div> 
             <div class="form-group"> 
                 <input type="submit" value="Create" class="btn btn-primary" /> 

             </div> 
         </form> 
     </div> 
 </div>   
}


 @* <div>  *@
 @*     <a asp-action="Index">Back to List</a>  *@
 @* </div>  *@

<partial name="_ValidationScriptsPartial" />

<script>
          var connection = new signalR.HubConnectionBuilder()
            .withUrl("/HAddHotel")
            .build();

          connection
            .start()
            .then(() => {
              console.log("connection started");
            })
            .catch();
      connection.on("CheckConnect",(t)=>{
          console.log(t);
      });
    connection.on("HotelAdded",(hotelName)=>{
                   $("#hotelName").html(hotelName);
              console.log(hotelName);
          });
</script>