@model Hotel
@{
    ViewData["Title"] = "MyHotel";
}

<div class="hero-wrap" style="background-image: url('/images/bg_3.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text d-flex align-itemd-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center d-flex align-items-end justify-content-center">
                <div class="text">
                    @* <p class="breadcrumbs mb-2"><span class="mr-2"><a href="index.html">Home</a></span> <span class="mr-2"><a href="hotels.html">Hotels</a></span> <span>Hotel Name</span></p> *@ 
                    <h1 class="mb-4 bread">@Model.Name</h1>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-3"></div>

    <div class="col-md-6 mt-5 me-5">
        <h3>@Model.Name</h3>
        <p>Hotel Description : @Model.Description</p>
        <p>Hotel Location : @Model.Location</p>
        <p>Hotel NumberOfRooms : @Model.NumberOfRooms</p>
        <p>Hotel StarRatig : @Model.StarRatig</p>
        <p>Hotel PhoneNumber : @Model.PhoneNumber</p>
        @* <a asp-controller="" asp-action="" class="btn btn-danger mb-5">Delete Hotel</a> *@
    </div>
</div>


<div class="row">
    <div class="col-md-2"></div>

    <div class="col-md-8 mt-5 me-5">
        <div class="row">
            @if (Model.Rooms.Count == 0)
            {
                <div class="col-12 text-center">
                    <p style="color: red; font-size: 1.5rem;">No Rooms available at this hotel.</p>
                    <p style="color: red; font-size: 1.5rem;">You must add Rooms to this hotel.</p>
                </div>
            }
            else
            {
                

        @foreach (Room room in Model.Rooms)
		{

               
                
                   
                        <div class="col-md-6 d-flex ftco-animate mb-4">
                            <div class="blog-entry align-self-stretch" style="width: 100%; height: 100%; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); border-radius: 15px; overflow: hidden;">
                                <a  class="block-20 rounded" style="background-image: url('/images/room-1.jpg'); height: 250px; background-size: cover; background-position: center;"></a>
                                <div class="text mt-3 p-3" style="min-height: 200px;">
                                    @* <div class="meta mb-2"> *@
                                    @*     <div><a ><span class="icon-map-marker"></span> @room.Description</a></div> *@
                                    @* <div><a><span class="icon-phone"></span> @room.Capacity</a></div> *@
                                    @* </div> *@

                                    <h3 class="heading"><a >@room.RoomType </a></h3> 
                                    <h4 class="heading">Price <a >$@room.PricePerNight </a></h4>
                                <p class="mt-1"> Room number : @room.RoomNumber</p>
                                <p class="mt-1"> Room Capacity : @room.Capacity</p>
                                <p class="mt-1">Room Description : @room.Description</p>
                                <a asp-controller="HotelAdmin" asp-action="EditRoom" asp-route-id="@room.Id" class="text-dark btn btn-warning rounded me-3">Edit</a>
                                <a asp-controller="HotelAdmin" asp-action="RoomDelete" asp-route-id="@room.Id" class="text-light btn btn-danger rounded">Delete</a>
                            </div>
                            </div>
                        </div>

                    
                
                }
            }

            </div>

    </div>
</div>
<div class="row">
    <div class="col-md-2"></div>

    <div class="col-md-8 mt-5 me-5">
<a asp-controller="HotelAdmin" asp-action="CreateRoom" asp-route-hotelId="@Model.Id" class="btn btn-info rounded mb-5" mb-5">Add Room</a>
    </div>
</div>



